body {
    margin: 0;
    padding: 0;
    font-family: Circular, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #484848;
}

.h-icon {
    content: url('../images/icon.png');
}

.container {
    max-width: 1000px;
    margin: 30px auto; /* 30px top and bottom, auto horizontally to center */
}
